<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrOBqjjs8g_Tf1oscVYK--GTfY2mPURvs</string>
	<key>GCM_SENDER_ID</key>
	<string>196792990794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineshes</string>
	<key>PROJECT_ID</key>
	<string>store-13b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>store-13b1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196792990794:ios:f03de271d987c408857ab3</string>
	<key>DATABASE_URL</key>
	<string>https://store-13b1c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>